.four-0-four-image{
    display: block;
    margin: 60px auto;
}

.four-0-four-msg{
    text-align: center;
    text-transform: capitalize;
    color: #383838;
    margin-bottom: 20px;
}

.four-0-four-msg a{
    color: #e94545;
}